CERT_DIR=
DOWNLOAD_DIR=
MAP_DIR=
STUB_DIR=
TEMPLATE_DIR=
UPLOAD_DIR=
bmsiw-dao-password=
bmsiw-dao-userid=
bridge-dao-password=
bridge-dao-userid=
dif-dao-password=
dif-dao-userid=
epm-dao-password=
epm-dao-userid=
erdm-dao-password=
erdm-dao-userid=
ihub-password=
ihub-password-sit=
ihub-password-uat=
ihub-userid=
ihub-userid-sit=
ihub-userid-uat=
prom-jdbc-url=
prom-test-password=
prom-test-userid=
prom-uat-password=
prom-uat-userid=
rah-dao-password=
rah-dao-prod-password=
rah-dao-prod-userid=
rah-dao-userid=
siw-dao-password=
siw-dao-userid=
sslCertLocation=
sslTrustStoreLocation=
sslTrustStoreLocationIHub=
sslTrustStorePassword=
w3-password=
wf360-api-key=