<?xml version="1.0" encoding="UTF-8"?>
<server description="wmf-dmf">
    <featureManager>
        <feature>jndi-1.0</feature>
        <feature>cdi-4.0</feature>
        <feature>springBoot-3.0</feature>
        <feature>servlet-6.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>expressionLanguage-5.0</feature>
        <feature>mpHealth-4.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>xmlBinding-4.0</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"  host="*" />

    <keyStore id="defaultKeyStore" password="{xor}bm1sa2pp" />
    <keyStore id="defaultTrustStore" type="PKCS12" location="/wfm-dmf/certs/trustStore.p12" />
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" verifyHostname="false" />

    <sslDefault sslRef="defaultSSLConfig" />

    <springBootApplication id="wmf-dmf" location="wmf-dmf.war" name="wmf-dmf" contextRoot="/" />
</server>